* {
    padding: 0;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    overflow-x: hidden;
}

/*General Settings*/

.flex-around{
    display: flex;
    justify-content: space-around;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline {
    display: inline;
}

/*Header*/

#nav {
    background-image: url(../Images/background.png); 
    width: 100vw;
    height: auto;
    padding: 30px;
}

.links-container{
    border: 5px solid #a06806;
    border-radius: 10px;
    list-style-type: none;
}

#links{
    background-color: #a06806;
    width: 70vw;
    padding: 1.5em 0;
    border: 5px solid #fbe388;
    border-radius: 10px;
}

#links li a{
    color: white;
}

.nav-options a {
    text-decoration: none;
    color: black;
}

#img-link{
    background-color: #fbe388;
    border-radius: 10px;
}

#header-img {
    width: auto;
    height: 150px;
}

/*Main*/
main{
    margin: 2vw 10vw;
}

h1 {
    text-align: center;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 40px;
}

h2 {
    text-align: center;
    padding: 5px 5px;
    margin: 5px 0;
    font-size: 30px;
    margin-bottom: 1px;
}

.arepas-section {
    padding-top: 30px;     
}

.arepas-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 10px;
    padding: 10px 20px;
    margin: 10px 5px 30px 5px;
}

.arepa-item {
    text-align: center;
    margin: 10px;
    padding: 10px;    
}

.grid-img {
    width: 200px;
    height: 200px;
    border: 6px double rgb(225, 116, 0);
    background-color: #fff5f5da;
    border-radius: 10px;
    padding: 8px;
}

.grid-title {
    margin-top: 15px;
    font-size: 1.4rem;
    color: rgb(225, 116, 0);
}

