* {
    padding: 0;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
}

/*head*/


/*main*/
main{
    margin: 2vw 20vw;
}

h1, h2{
    text-align: center;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}



