* {
    padding: 0;
    margin: 0;
}

/*General Settings*/

.flex-around{
    display: flex;
    justify-content: space-around;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.inline {
    display: inline;
}

/*Header*/

#nav {
    background-color: grey; 
    width: 100vw;
    height: auto;
    padding: 50px;
}

#links{
    width: 70vw;
}

.nav-options a {
    text-decoration: none;
    color: black;
}

/*Main*/
main{
    margin: 2vw 20vw;
}

h1{
    text-align: center;
    padding: 10px 20px;
    margin: 20px 0;
}

p {
    text-align: justify;
    margin: 20px 0;
}

.history-paragraph-border {
    border: 2px solid black;
    border-radius: 16px;
    padding: 30px 50px;
}

img {
    height: auto;
    width: 50vw;
}

.hidden {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}


.img_wrap{
    position: relative;
}

.img_wrap:hover .hidden {
    visibility: visible;
    border: 2px solid black;
    border-radius: 16px;
    padding: 30px 50px;
}

.img_wrap:hover {
    visibility: hidden;
}