* {
    padding: 0;
    margin: 0;
}

/*General Settings*/

.flex-around{
    display: flex;
    justify-content: space-around;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.inline {
    display: inline;
}

/*Header*/

#nav {
    background-color: grey; 
    width: 100vw;
    height: auto;
    padding: 50px;
}

#links{
    width: 70vw;
}

.nav-options a {
    text-decoration: none;
    color: black;
}

/*Main*/
main{
    margin: 2vw 5vw;
}

h1{
    text-align: center;
    padding: 10px 20px;
}

h2, p, img {
    margin: 20px 0;
}

p {
    text-align: justify;
}