/*Main*/
main{
    margin: 2vw 20vw;
}

h1, h2{
    text-align: center;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.history-paragraph-border {
    border: 2px solid black;
    border-radius: 16px;
    padding: 30px 50px;
    text-align: center;
    margin: 20px 0;
}

#royal-family {
    height: auto;
    width: 50vw;
}

#bad-king-img {
    height: 500px;
    width: auto;
}

.hidden {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    overflow-y: scroll;
}

.img_wrap{
    position: relative;
}

.img_wrap:hover .hidden {
    visibility: visible;
    border: 2px solid black;
    border-radius: 16px;
    padding: 30px 50px;
    text-align: center;
}

.img_wrap:hover {
    visibility: hidden;
}