* {
    padding: 0;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
}

/*General Settings*/

.flex-around{
    display: flex;
    justify-content: space-around;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline {
    display: inline;
}

/*Header*/

#nav {
    background-image: url(../Images/background.png); 
    width: 100vw;
    height: auto;
    padding: 30px;
}

.links-container{
    border: 2px solid #a06806;
    border-radius: 10px;
    list-style-type: none;
}

#links{
    background-color: #a06806;
    width: 70vw;
    padding: 1.5em 0;
    border: 5px solid #fbe388;
    border-radius: 10px;
}

#links li a{
    color: white;
}

.nav-options a {
    text-decoration: none;
    color: black;
}

#img-link{
    border: 5px solid #fbe388;
    border-radius: 10px;
}

#header-img {
    width: auto;
    height: 100px;
}

/*Main*/
main{
    margin: 2vw 20vw;
}

h1, h2{
    text-align: center;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.history-paragraph-border {
    border: 2px solid black;
    border-radius: 16px;
    padding: 30px 50px;
    text-align: center;
    margin: 20px 0;
}

#royal-family {
    height: auto;
    width: 50vw;
}

#bad-king-img {
    height: 500px;
    width: auto;
}

.hidden {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    overflow-y: scroll;
}

.img_wrap{
    position: relative;
}

.img_wrap:hover .hidden {
    visibility: visible;
    border: 2px solid black;
    border-radius: 16px;
    padding: 30px 50px;
    text-align: center;
}

.img_wrap:hover {
    visibility: hidden;
}