* {
    padding: 0;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
}

/*General Settings*/

.flex-around{
    display: flex;
    justify-content: space-around;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline {
    display: inline;
}

/*Header*/

#nav {
    background-image: url(../Images/background.png); 
    width: 100vw;
    height: auto;
    padding: 30px;
}

.links-container{
    border: 5px solid #a06806;
    border-radius: 10px;
    list-style-type: none;
}

#links{
    background-color: #a06806;
    width: 70vw;
    padding: 1.5em 0;
    border: 5px solid #fbe388;
    border-radius: 10px;
}

#links li a{
    color: white;
}

.nav-options a {
    text-decoration: none;
    color: black;
}

#img-link{
    background-color: #fbe388;
    border-radius: 10px;
}

#header-img {
    width: auto;
    height: 150px;
}

.contenedor {
    position: relative;
    width: 800px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    
}
.mapa{
    display: block;
    width: 100%;
}

/* Estilo general de los puntos */
.punto {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #A66A3B;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #F4E2C2;
}

/* Texto emergente */
.punto span {
    display: none;
    position: absolute;
    top: -60px;
    left: -120px;
    background: bisque;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid #333;
    font-size: 12px;
    white-space: nowrap;
}

/* Mostrar texto al pasar el mouse */
.punto:hover span {
    display: block;
}

.letra{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 12px;
  
}

.Hospital {
    top: 12%;
    left: 43%;
    
}

.Gymrepa {
    top: 70%;
    left: 22%;
}

.PepaBar {
    top: 85%;
    left: 55%;
}

.IglesiaSantaArepa{
    top: 47%;
    left: 90%;
}

.Riochocolate{
    top: 55%;
    left: 55%;
}

.fila-espacios {
    display: flex;
    gap: 160px;              /* separa los elementos */
    justify-content: center; 
    align-items: flex-start;
    margin-top: 40px;
}

.item {
    width: 250px;          /* tamaño uniforme */
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 25px
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    box-shadow: 10px 10px 20px  #ec770b;    
    background-image: url(/Images/background.png);
}


html {
  scroll-behavior: smooth;
}


body{
    background-color: beige;
}