/*Main*/
.contenedor {
    position: relative;
    width: 50vw;
    margin: 20px auto;
    border-radius: 10px;
}
.mapa{
    display: block;
    width: 100%;
}

/* Add style to the points */
.punto {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #A66A3B;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #F4E2C2;
}

/* Popup text */
.punto span {
    display: none;
    position: absolute;
    top: -60px;
    left: -120px;
    background: bisque;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid #333;
    font-size: 12px;
    white-space: nowrap;
}

/* Show the when hover*/
.punto:hover span {
    display: block;
}

/*Put points in the correct place*/

.Hospital {
    top: 12%;
    left: 43%;
    
}

.Gymrepa {
    top: 70%;
    left: 22%;
}

.PepaBar {
    top: 85%;
    left: 55%;
}

.IglesiaSantaArepa{
    top: 47%;
    left: 90%;
}

.Riochocolate{
    top: 55%;
    left: 55%;
}

/*Text below*/

.fila-espacios {
    display: flex;            /* separate the elements */
    justify-content: space-around;
    margin-top: 40px;
}

.item {
    width: 18%;          /* Same width all elements */
    text-align: center;
    font-size: 25px
}

.item img {
    width: 100%;
    height: 40%;
    object-fit: contain;
    box-shadow: 10px 10px 20px  #ec770b;    
    background-image: url(/Images/background.png);
}